{% extends 'base.html' %}


{% block content %}
<h1>Make an Item</h1>
<form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.category.label }}
        {{ form.category(class='form-control', placeholder='category') }}

        {{ form.item.label }}
        {{ form.item(class='form-control', placeholder='item') }}

        {{ form.price.label }}
        {{ form.price(class='form-control', placeholder='price, do not include $') }}

        {{ form.submit(class='btn btn-primary w-100') }}
    </div>
</form>


{% endblock content %}